@model Application.ViewModels.SaveProductView
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar producto";
}

<h1>SaveProduct</h1>

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                 <div class="card-header bg-dark text-light">
                     <h4>@(editMode ? $"Editando el producto: {Model.Name}" : "Creando un nuevo producto")</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Product" asp-action="@(editMode ? "Edit":"Create")">
                        
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre:</label>
                            <input type="text" asp-for="Name" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description:</label>
                            <textarea asp-for="Description" class="form-control" ></textarea>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="form-label">Url de la img:</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Price" class="form-label">Precio:</label>
                            <input type="number" step="any" asp-for="Price" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="CategoryId" class="form-label">Categoria:</label>
                           <select asp-for="CategoryId" class="form-select">
                                <option value="">Selecciona una opcion</option>
                                <option value="1">Category 1</option>
                                <option value="2">Category 2</option>
                           </select>
                        </div>

                        <input type="hidden" asp-for="Id"/>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-action="Product" asp-action="Index" class="btn btn-warning">Volver</a>
                    
                    </form>

                </div>
            </div>
        </div>
     </div>
</div>

